{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    <h1>Create new Quack</h1>

    {{ include('quack/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('profil', {'id': app.user.id}) }}">Retour</a>
{% endblock %}
